{% load static %}
<!DOCTYPE html>
<html lang= "es">
<head>
    <meta charset="utf-8">
    {% block static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
    {% endblock %}
</head>

{% block navbar %}
<div class="Navbar">
    <i class="glyphicon glyphicon-home"><a href="{% url 'pikadaapp:inicio' %}"></a></i>
    <a href="{% url 'pikadaapp:waiters' %}"> Meseros</a>
</div>
{% endblock %}

<body class="BaseContainer">
    <div>
    
        {% block content %}
        {% endblock %}
        
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>