{% extends 'base.html' %}
{% block content %}

<body>
    <div class="StatisticContainer">
    {% for name in results %}
        <div class="InfoDisplay">
            <div style="background-color: lightgrey;">
                <h1 style="margin-left: 30px;">{{name.name}}</h1>
            </div>
            <div class="ListInfo">
                <div class="BlockManager" style=" width: 330px; margin: auto;">
                    <table style="margin-top: 20px;">
                        <tr>
                            <th><div class="ShowMainString">Turnos Trabajados</div></th>
                            <th><div class="ShowMainString"><div></th>
                            </tr>
                            <tr>
                                <td><div class="ShowMainString">Turnos dobles</div></td>
                                <td><div class="ShowMainNumber">{{name.double_shifts}}</div></td>
                            </tr>
                            <tr>
                                <td><div class="ShowMainString">Turnos mañana</div></td>
                                <td><div class="ShowMainNumber">{{name.morning_shifts}}</div></td>
                            </tr>
                            <tr>
                                <td><div class="ShowMainString">Turnos tarde </div></td>
                                <td><div class="ShowMainNumber">{{name.afternoon_shifts}}</div></td>
                            </tr>
                        </table>
                </div>
                <h1 style="margin: auto;">Total registrado: ${{name.selling_amount}}</h1>
        </div>
        <details>
            <summary style="border-bottom: #333 3px solid; color: #333; font-size: x-large; margin-left: 75px; margin-right: 75px;">Boletas que no cuadran: (Total: ${{name.total_diference}})</summary>
            <div>
                {% for order in diference %}
                {%if order.diferent == True and order.cashier == name.name %}
                <div class="InfoDisplay" style="border: none;"></div>
                    <h3 style="background-color: lightgrey; margin-left: 150px; margin-right: 150px;">Boleta: {{order.id}}</h3>                       
                    <div class="ListInfo" style="margin-top:0%; border: lightgray 2px solid; margin-left: 150px; margin-right: 150px;">
                            <div>
                                <p>Mesero: {{order.waiter}}</p>
                                <p>Cajero: {{order.cashier}}</p>
                            </div>
                            <div style="display: flex; flex-direction: column; margin: auto; margin-top: 10px;">
                                <details>
                                    <summary style="font-size: x-large;">Detalle de vendidos</summary>
                                    <table style="font-size: large; margin: auto;">
                                        {% for producto in order.products %}
                                        <tr> 
                                            <td>{{producto.0}}</td>
                                            <td>{{producto.1}}</td>
                                        </tr>
                                        {%endfor%}
                                    </table>
                                </details>
                                <table style="margin-top: 15px;">
                                    <tr>
                                        <td style="font-size: 14px; font-weight: bold;">Total Poductos:</td>
                                        <td style="font-size: 14px; font-weight: bold; margin-left: 10px;">{{order.prod_total}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin: auto;">
                                <h4>Total cobrado en boleta: {{order.total}}</h4>
                                <h4>Diferencia en cobro: {{order.diference}}</h4>
                            </div>
                    </div>
                    {%endif%}
                    {%endfor%}
            </div>
        </details>
    {%endfor%}
    </div>
</body>

{%endblock%}