.Navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 45px;
    width: 100%;
    background-color: #333;
}

.Navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.Navbar a:hover {
    background: #ddd;
}

.BaseContainer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.StatisticContainer{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.InfoDisplay{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    border: 2px solid lightgray;
}

.ListInfo {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.BlockManager{
    display: flex;
    flex-direction:column;
    overflow: hidden;
    width: 450px;
    margin-left: 20px; 
}

.Show{
    display: flex;
    flex-direction: row;
    margin-top: -30px;
}

.Show h3{
    align-items: baseline;
    padding-right: 10px;
    font-size: larger;
}

.BlockManager div{
    font-size: x-large;
    margin-left: 15px;
}

.ShowMainNumber{
    border-bottom:lightgray 1px dotted; 
    width: 170px; 
    overflow: hidden; 
    height: 80px;
    text-align: center;
    vertical-align: middle;
}

.ShowMainString{
    border-bottom:lightgray 1px dotted; 
    width: 170px; 
    overflow: hidden; 
    height: 80px;
    text-align: left;
    vertical-align: middle;
}